@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Epilogue:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@700&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

#locationContainer {
    background: #555;
    display: flex; 
    gap: 0px;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

#location {
    background: #fff;
    margin-bottom: auto;
    margin-left: auto;
    margin-top: 180px;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 1px 1px 5px #ccc;
    display: flex;
}


.details {
    padding: 15px;
}