
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    color: #fff
}

#locationContainer {
    background: #141414;
    display: flex; 
    gap: 0px;
    justify-content: center;
    align-items: center;
    padding-bottom: 420px;
}

#location { 
    background: #555;
    margin-bottom: auto;
    margin-left: auto; 
    margin-top: 180px;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 1px 1px 5px #ccc;
    display: flex;
}


.details {
    padding: 15px;
}

header {
    background-color: #141414;
}

.logo {
    color: #ccc;
    font-weight: 600;
    font-size: 20px;
    padding-top: 28.5px;
    display: block;
    text-decoration: none;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    float: right;
    padding-top: 26.5px;
  }
  
  nav a {
    color: #ccc;
    font-size: 17px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }