@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Epilogue:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@700&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
}

#locationsContainer {
    background: #141414;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-decoration: none;
}

header {
    background-color: #141414;
}

.logo {
    color: #ccc;
    font-weight: 600;
    font-size: 20px;
    padding-top: 28.5px;
    display: block;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    float: right;
    padding-top: 26.5px;
  }
  
  nav a {
    color: #ccc;
    font-size: 17px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

.locations {
    background: #fff;
    margin-bottom: 35px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #ccc;
    text-decoration: none;
}

#container a {
    text-decoration: none;
}

.detailz {
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

a {
    text-decoration: none;
}
